* { font-family: Arial, Helvetica, sans-serif; }
p, ul, h1, h2, h3 { margin: 0;}
p,li { font-size: 14px;}
h1 { font-size: 25px;}
h2 { font-size: 16px; }

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff1df;
    margin: 0;
}

.header {
    background-color: orange;
    padding: 10px;
    border-bottom-style: solid;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.header h1 {
    margin: 1%;
}

.button_import {
    background-color: #202020;;
    color: #EEEEEE;
    border-color:#202020;;
    border-radius: 5px;
}

.Blanc { background-color: #EEEEEE; }
.Acier { background-color: #B7B7CE;}
.Combat { background-color: #C22E28;}
.Dragon { background-color: #6F35FC;}
.Eau { background-color: #6390F0;}
.Electrik { background-color: #F7D02C;}
.Fee { background-color: #D685AD;}
.Feu { background-color: #EE8130;}
.Glace { background-color: #96D9D6;}
.Insecte { background-color: #A6B91A;}
.Normal { background-color: #A8A77A;}
.Plante { background-color: #7AC74C;}
.Poison { background-color: #A33EA1;}
.Psy { background-color: #F95587;}
.Roche { background-color: #B6A136;}
.Sol { background-color: #E2BF65;}
.Spectre { background-color: #735797;}
.Tenebres { background-color: #705746;}
.Vol { background-color: #A98FF3;}
.Dresseur { background-color:#191632;}
.Lune { background-color: #000620;}

.img_dresseur {
    max-width: 100%;
    max-height: 80%;
    height: auto;
    object-fit: contain;
}

.img_lune {
    max-width: 50px;
}

.img_50 {
    max-width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 200px;
    object-fit: contain;
}

.img_20 {
    width:2em;
    height:fit-content;
    text-align: right;
}

.img_8 {
    width:8%;
    height:fit-content;
}

.card {
    text-align: left;
    margin: 1em;
    padding: 1em;
    border: solid;
    border-radius: 1em;
    display: grid;
    grid-gap: 10px;
}

@media screen and (max-width:800px) {
    .liste, .liste_petite {
        display: grid;
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .liste {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }
}
@media screen and (min-width:1200px) and (max-width:1600px) {
    .liste {
        display: grid;
        grid-template-columns: repeat(4, 24.5%);
    }
}
@media screen and (min-width:1600px) and (max-width:1800px) {
    .liste {
        display: grid;
        grid-template-columns: repeat(4, 24.5%);
    }
}
@media screen and (min-width:1800px) {
    .liste {
        display: grid;
        grid-template-columns: repeat(4, 24.5%);
    }
}

@media screen and (min-width:700px) and (max-width:900px) {
    .liste_petite {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }
}
@media screen and (min-width:900px) and (max-width:1200px) {
    .liste_petite {
        display: grid;
        grid-template-columns: repeat(4, 24.5%);
    }
}
@media screen and (min-width:1200px) and (max-width:1500px) {
    .liste_petite {
        display: grid;
        grid-template-columns: repeat(5, 19.5%);
    }
}
@media screen and (min-width:1500px) and (max-width:1800px) {
    .liste_petite {
        display: grid;
        grid-template-columns: repeat(6, 16.5%);
    }
}
@media screen and (min-width:1800px) {
    .liste_petite {
        display: grid;
        grid-template-columns: repeat(7, 14%);
    }
}

.zone {
    margin: 1%;
    padding:1%;
    border-radius: 5px;
}

.zone_dresseur {
    margin: 3px;
    padding: 2px;
    border-radius: 5px; 
}

.zone_lune {
    margin: 3px;
    padding: 2px;
    border-radius: 5px; 
}

.zone_large {
    padding:0.5em;
}

.margin {
    margin:0.75%;
}

.padding {
    padding:1%;
}


.marge_left {
    margin-left: 0.5em;
}

.carte_left {
    text-align:left;
}

.carte_right {
    text-align:right;
}

.carte_center {
    text-align:center;
}

.carte_row {
    display: flex;
    flex-direction: row;
}

.carte_column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.space {
    margin: 1%;
}

.carte_justify_space {
    justify-content: space-between;
}

.carte_justify_right {
    justify-content: right;
}


.self_center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.carte_dresseur_grid {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 7fr 3fr;
    grid-gap: 3px;
}

#dresseur_entete {
    color: #EEEEEE;
}

#dresseur_img {
    grid-row: 1 / 3;
}

#dresseur_bonus {
    grid-column: 1 / 3;
}

#lune_entete {
    color: #EEEEEE;
}

#lune_img {
    grid-row: 1;
}

#lune_description, 
#lune_bonus {
    grid-column: 1 / 3;
}

#map { 
    height: 100vh; 
    width: 100vw; 
    display: block;
}

.hidden-map {
    visibility: hidden;   /* ou opacity: 0 */
    height: 0;            /* pour ne pas prendre de place */
    overflow: hidden;
}
